/* Default styles for the browser */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header{
    width: 100vw;
    height: 120px;
    border-bottom: solid 1px rgba(16, 16, 16, 0.1);
    font-family: 'Poppins';
    background-color: #1ac6ff;
    position: fixed;
    top:0;
}
body{
  width: 100vw;
  padding-top: 60px;
  background-color: #1ac6ff;
  text-align: center;
  -webkit-animation: fadein 2s;
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
body .Contenu{
  width: 100vw;
  height: 120px;
  font-family: 'Poppins';
  display: table;
}
body .image{
  display: table-cell;
  vertical-align: middle;
}
body  .Titre {
  width:50%;
  padding: 10px;
  display: table-cell;
  background-color: #1ac6ff;
}
body .Ligne2{
  display: table-row;
}
body .prez{
  width:50%;
  height: 500px;
  display: table-cell;
  background-color: orange;
  border-left: solid 1px rgba(16, 16, 16, 0.1);
}
.prez div{
  width: 46%;
  height: 36%;
  padding: 100px;
  margin-left: 112px;
  margin-top: 9%;
  background-color: white;
  text-align: center;
}
body .Question{
  width:50%;
  height: 500px;
  display: table-cell;
  background-color: #1ac6ff;
}

.Question div{
  width: 30%;
  height: 30%;
  padding: 100px;
  margin-left: 175px;
  margin-top: 9%;
  background-color: white;
  text-align: center;
}
.Question h1{
  text-align: center;
}
.Titre h1{
  text-align: center;
  margin-top: 10%;
}
.Titre h2{
  margin-top: 15%;
  text-align: center;
}
header .inner{
    width: 1300px;
    height: 100%;
    display: block;
    margin: 0 auto;
}
/* Paramètres logo*/
header .logo{
    display: table;
    height: 100%;
    float: left;
}

header .logo div{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

header .logo img{
    height: 85px;
    margin-top: 5px;
}
/*Paramètres Titre*/
header .titre{
  display: table;
  height: 100%;
  float: left;
}
header .titre div{
  height: 100%;
  display: table-cell;
  vertical-align: middle;

}
header .titre div a{
  height: 50px;
  margin-top: 50px;
  color: #101010;
  margin-right:20px;
}

/*Paramètres onglets*/
header nav{
    float: right;
    height: 100%;
}

header nav li{
    display: table;
    height: 100%;
    float: left;
    margin-right: 30px;
}

header nav li:last-of-type{
    margin-right: 0;
}

header nav span {
    display: table-cell;
    vertical-align: middle;
}

header nav a{
    color: #101010;
}
footer{
  width: 100vw;
  height: 120px;
  border-bottom: solid 1px rgba(16, 16, 16, 0.1);
  font-family: 'Poppins';
  background-color: #000000;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
    color: white;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
